<app-dash-header></app-dash-header>

<div class="container">
  <div class="search">
    <h2>Search Workouts</h2>

    <form [formGroup]="fg">
      <mat-form-field appearance="outline">
        <mat-label>Query</mat-label>
        <input matInput formControlName="query">
        <mat-icon matSuffix (click)="search()">search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="workouts">
    <div class="workout" *ngFor="let program of workoutPrograms | async">
      <h3>{{ program.name }}</h3>
      <p>{{ program.frequency }} day(s)/week for {{ program.weeks }} weeks</p>
    </div>
  </div>
</div>

<app-nav-footer [activeNavItem]="'search'"></app-nav-footer>