.container {
  width: min(100vw, 800px);
  height: 83vh;
  overflow-y: auto;
  margin: 0 auto;

  .search {
    height: 20vh;

    h2 {
      text-align: center;
    }

    mat-form-field {
      width: 80%;
      margin-left: 10%;
    }
  }

  .workouts {
    height: 63vh;
    overflow-y: auto;

    .workout {
      
    }
  }
}