.container {
  width: 100%;

  h1 {
    padding-top: 10px;
    text-align: center;
  }

  mat-form-field, button {
    width: 90%;
    margin-left: 5%;
  }

  .submit {
    padding-bottom: 10px;
  }
}