<app-dash-header></app-dash-header>

<div class="container">
  <ng-container *ngIf="!isViewWorkout">
    <h1>My Workouts</h1>
    <div class="workouts">
      <ng-container *ngFor="let workout of workouts | async">
        <ng-container *ngIf="getObsWorkout(workout)"></ng-container>
        <mat-card>
          <mat-card-title>{{ workout.alias }}</mat-card-title>
          <mat-card-subtitle>{{ workout.weeks }}-Week Program</mat-card-subtitle>
          <mat-card-content>
            {{ workout.frequency }} days/week for {{ workout.weeks }} weeks
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="viewWorkout(workout.id)">View Workout</button>
            <button mat-button color="warn" (click)="deleteWorkout(workout.id, workout.alias)">Delete Workout</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </ng-container>

  <app-view-workout 
    *ngIf="isViewWorkout"
    [workout]="vwWorkout"
    (backToLiftTracker)="backToLiftTracker()">

  </app-view-workout>
</div>

<app-nav-footer [activeNavItem]="'lift'"></app-nav-footer>