.container {
  width: 100vw;
  height: 83vh;
  overflow-y: auto;

  h1 { 
    margin-top: 7px;
    text-align: center; 
  }

  .workouts {
    mat-card {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 15px;
      //box-shadow: 0 0 3px 3px #FF1744;
  
      button {
        text-transform: uppercase;
      }
    }
  }
}