<div class="container">
  <strong (click)="back()">
    <mat-icon>arrow_back</mat-icon>
    &nbsp;&nbsp;Back
  </strong>

  <h1 class="alias">{{ workout.alias }}</h1>

  <div class="week">
    <mat-icon (click)="prev()">arrow_back_ios</mat-icon>
    <h2>Week {{ currentWeek }}</h2>
    <mat-icon (click)="next()">arrow_forward_ios</mat-icon>
  </div>
  
  <div class="table-container" *ngFor="let day of daysPerWeek()">
    <span><strong>Day {{ day }}</strong></span>
  
    <table mat-table [dataSource]="dayExercises(day)" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="sets">
        <th mat-header-cell *matHeaderCellDef>Sets</th>
        <td mat-cell *matCellDef="let element" class="pad">{{ element.sets }}</td>
      </ng-container>
    
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="element.weight">
          </mat-form-field>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="firstSetReps">
        <th mat-header-cell *matHeaderCellDef>FSR</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field appearance="outline">
            <input matInput [(ngModel)]="element.firstSetReps">
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="breaks">
        <th mat-header-cell align="center" *matHeaderCellDef>Breaks</th>
        <td mat-cell align="center" *matCellDef="let element">
          <mat-icon [matBadge]="element.breaks"
                    (click)="startTimer(element)"
                    matBadgeColor="primary">timer</mat-icon>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <p>
    <button mat-flat-button color="primary" (click)="updateExercises()">Submit</button>
  </p>
</div>